<a href="https://colab.research.google.com/github/devbispo/curso-python/blob/main/aprendizagem_de_maquina_arvore_de_decisao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install Orange3

In [ ]:
import Orange

In [ ]:
#Entropia é a medida das impurezas dos dados 

import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
base = pd.read_csv("cmc.data",
  names =["Wife_age","Wife_education","Husband_education","children","Wife_religion","Wife_is_working","Husband_occupation","Standard_of_living_index", "Media_exposure","Contraceptive_method_used"])
base.describe()

,Wife_age,Wife_education,Husband_education,children,Wife_religion,Wife_is_working,Husband_occupation,Standard_of_living_index,Media_exposure,Contraceptive_method_used
count,1473.000000,1473.000000,1473.000000,1473.000000,1473.000000,1473.000000,1473.000000,1473.000000,1473.000000,1473.000000
mean,32.538357,2.958588,3.429735,3.261371,0.850645,0.749491,2.137814,3.133741,0.073999,1.919891
std,8.227245,1.014994,0.816349,2.358549,0.356559,0.433453,0.864857,0.976161,0.261858,0.876376
min,16.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000
25%,26.000000,2.000000,3.000000,1.000000,1.000000,0.000000,1.000000,3.000000,0.000000,1.000000
50%,32.000000,3.000000,4.000000,3.000000,1.000000,1.000000,2.000000,3.000000,0.000000,2.000000
75%,39.000000,4.000000,4.000000,4.000000,1.000000,1.000000,3.000000,4.000000,0.000000,3.000000
max,49.000000,4.000000,4.000000,16.000000,1.000000,1.000000,4.000000,4.000000,1.000000,3.000000

In [ ]:



base = pd.read_csv("cmc.data",
                          names =["Wife_age","Wife_education","Husband_education","children","Wife_religion","Wife_is_working","Husband_occupation","Standard_of_living_index", "Media_exposure","Contraceptive_method_used"])


print(base)

      Wife_age  Wife_education  Husband_education  children  Wife_religion  \
0           24               2                  3         3              1
1           45               1                  3        10              1
2           43               2                  3         7              1
3           42               3                  2         9              1
4           36               3                  3         8              1
...        ...             ...                ...       ...            ...
1468        33               4                  4         2              1
1469        33               4                  4         3              1
1470        39               3                  3         8              1
1471        33               3                  3         4              1
1472        17               3                  3         1              1

      Wife_is_working  Husband_occupation  Standard_of_living_index  \
0                   1                   2                         3
1                   1                   3                         4
2                   1                   3                         4
3                   1                   3                         3
4                   1                   3                         2
...               ...                 ...                       ...
1468                0                   2                         4
1469                1                   1                         4
1470                0                   1                         4
1471                0                   2                         2
1472                1                   2                         4

      Media_exposure  Contraceptive_method_used
0                  0                          1
1                  0                          1
2                  0                          1
3                  0                          1
4                  0                          1
...              ...                        ...
1468               0                          3
1469               0                          3
1470               0                          3
1471               0                          3
1472               0                          3

[1473 rows x 10 columns]

In [ ]:

base = pd.read_csv('cmc.data')
print(base)

      24  2  3  3.1  1  1.1  2.1  3.2  0  1.2
0     45  1  3   10  1    1    3    4  0    1
1     43  2  3    7  1    1    3    4  0    1
2     42  3  2    9  1    1    3    3  0    1
3     36  3  3    8  1    1    3    2  0    1
4     19  4  4    0  1    1    3    3  0    1
...   .. .. ..  ... ..  ...  ...  ... ..  ...
1467  33  4  4    2  1    0    2    4  0    3
1468  33  4  4    3  1    1    1    4  0    3
1469  39  3  3    8  1    0    1    4  0    3
1470  33  3  3    4  1    0    2    2  0    3
1471  17  3  3    1  1    1    2    4  0    3

[1472 rows x 10 columns]

In [ ]:
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1472 entries, 0 to 1471
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   24      1472 non-null   int64
 1   2       1472 non-null   int64
 2   3       1472 non-null   int64
 3   3.1     1472 non-null   int64
 4   1       1472 non-null   int64
 5   1.1     1472 non-null   int64
 6   2.1     1472 non-null   int64
 7   3.2     1472 non-null   int64
 8   0       1472 non-null   int64
 9   1.2     1472 non-null   int64
dtypes: int64(10)
memory usage: 115.1 KB

In [ ]:


label_encoder = preprocessing.LabelEncoder()

print(base)

      24  2  3  3.1  1  1.1  2.1  3.2  0  1.2
0     45  1  3   10  1    1    3    4  0    1
1     43  2  3    7  1    1    3    4  0    1
2     42  3  2    9  1    1    3    3  0    1
3     36  3  3    8  1    1    3    2  0    1
4     19  4  4    0  1    1    3    3  0    1
...   .. .. ..  ... ..  ...  ...  ... ..  ...
1467  33  4  4    2  1    0    2    4  0    3
1468  33  4  4    3  1    1    1    4  0    3
1469  39  3  3    8  1    0    1    4  0    3
1470  33  3  3    4  1    0    2    2  0    3
1471  17  3  3    1  1    1    2    4  0    3

[1472 rows x 10 columns]

In [ ]:
#Random Forest, também conhecido como Floresta aleatoria é um método usado
#para  aprendizado de conjunto para classificação, regressão e outras tarefas que impera
#na arvore de decisão

In [ ]:
base.head()

   24  2  3  3.1  1  1.1  2.1  3.2  0  1.2
0  45  1  3   10  1    1    3    4  0    1
1  43  2  3    7  1    1    3    4  0    1
2  42  3  2    9  1    1    3    3  0    1
3  36  3  3    8  1    1    3    2  0    1
4  19  4  4    0  1    1    3    3  0    1

In [ ]:
base.shape

(1473, 10)

In [ ]:
from numpy import random
from sklearn.utils.extmath import randomized_range_finder
from sklearn.ensemble import RandomForestClassifier
variaveis = ['Wife_age','Wife_education','Husband_education','children','Wife_religion','Wife_is_working','Husband_occupation','Standard_of_living_index', 'Media_exposure','Contraceptive_method_used']
x = base[variaveis]
y = base['children']

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=0)

In [ ]:
modelo = RandomForestClassifier(n_estimators=40, n_jobs=-1, random_state=0)

In [ ]:
modelo.fit(x_train, y_train)

RandomForestClassifier(n_estimators=40, n_jobs=-1, random_state=0)

In [ ]:
y_pred = modelo.predict(x_test)

In [ ]:
print("Acuracia foi de :", accuracy_score(y_test, y_pred) * 100)

Acuracia foi de : 94.23728813559322