<a href="https://colab.research.google.com/github/devbispo/curso-python/blob/main/Curso_de_Python3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%reset -f
Vagas1=['FIESTA', 'CORSA', 'ECO SPORT', 'CERATTO', 'FORD FOCUS']

print(Vagas1[4])

In [ ]:
%reset -f
vaga1 = int( input('Insira um valor : '))
vaga2 = int ( input('Insira o segundo valor : '))
vagas = vaga1 + vaga2
print('A soma vale {} ' .format(vagas))

In [ ]:
''' Ordeom de Precedência
1 ()
2 **
3 * / // %
4 + - '''

In [ ]:
''' Entrada de dados '''
%reset -f
a = int(input('Insira sua idade: '))
b = str(input('Insira seu nome: '))

print('Olá {}, vejo que você tem exatamente {} anos de idade' .format(b, a))
print(type(a))
print(type(b))

In [ ]:
''' Calculo do IMC'''
'''IMC é a sigla para Índice de Massa Corpórea,
 parâmetro adotado pela Organização Mundial de 
 Saúde para calcular o peso ideal de cada pessoa.'''
%reset -f
nome = str(input("Como te chamo?"))
altura = float(input('Olá {}, qual a sua altura? ' .format(nome) ))
peso = float(input('E qual seu peso? '))

imc = peso / ( altura * altura)

print('Seu IMC é : {}' .format(imc))

In [ ]:
''' Repetição'''
%reset -f
maior = 0
menor = 0

for x in range(1, 11):
  c = float(input('Cliente {} Comprou quantos livros?'  .format(x)))
  if x == 1:
    maior = x
    menor = x
  else:
      if c > maior:
       maior = c
       if c < menor:
         menor = c
print('O Melhor Cliente comprou {} livros' .format(maior))
print('O Pior Cliente Comprou {} livros' .format(menor))

In [ ]:
''' Eliminando Strings'''
%reset -f
carros = ['Fiesta', 'Ecosport', 'Corolla', 'RangeHover']
carros.pop(0) 
print(carros)

['Ecosport', 'Corolla', 'RangeHover']

In [ ]:
'Calculando IMC Através da função'

w = 68
h = 1.69
def imc(w,h):
  return w/(h*h)
  

imc = imc (w,h)

if imc < 16:
	print("Magreza grave")
elif imc < 17:
	print("Magreza moderada")
elif imc < 18.5:
	print("Magreza leve")
elif imc < 25:
	print("Saudável")
elif imc < 30:
	print("Sobrepeso")
elif imc < 35:
  print("Obesidade Grau I")

Saudável

In [ ]:
import pandas as pd

dados_cliente = {
  'Clientes': ["Pedro", "Carlos", "Joaquin", "Diego", "Elaine", "Bárbara", "Juliana", "Patrick", "Augusto", "Zilda"],
  "____________"
  'Livros Comprados na Semana': [3, 7, 2, 2, 15, 30, 15, 50, 13, 25]
}

sequenciar = pd.DataFrame(dados_cliente)

print(sequenciar)

  Clientes  ____________Livros Comprados na Semana
0    Pedro                                       3
1   Carlos                                       7
2  Joaquin                                       2
3    Diego                                       2
4   Elaine                                      15
5  Bárbara                                      30
6  Juliana                                      15
7  Patrick                                      50
8  Augusto                                      13
9    Zilda                                      25

In [ ]:
x = 50

y = 20

aux = x

x = y

y = aux

print(x,y)

20 50

In [ ]:
x = 10

y = 30

x = x + 10

y = x + 10

x = x + y

print(x)

50

In [ ]:
x = 3.2
type(x)

float

In [ ]:
x = 2*1**2
print(x)

2

In [ ]:
'Algoritmo que realiza a média do faturamento Liquido Mensal de dados armaenados por dias, sendo asssim no total calculado a média já considereando '
'os gastos de gasolina e desgaste do veículo.'

import pandas as pd

df = pd.read_excel('tudosãodados.xlsx')
print(df)

In [ ]:

'Curso ciências da computação USP'
'Exercício 2 Média'
x0=float(input('Digite a primeira nota :'))

x1=float(input('Dgite a segunda nota :'))

x2=float(input('Dgite a terceira nota :'))

x3=float(input('Dgite a quarta nota :'))

MediaTotal=(x0+x1+x2+x3)/4

print("Média aritmética é",MediaTotal)

Digite a primeira nota :50
Dgite a segunda nota :60
Dgite a terceira nota :90
Dgite a quarta nota :20
Média aritmética é 55.0

In [ ]:
'Curso ciências da computação USP'
'Exercício 2 Perimetro e área'
lado = int(input("Insira um lado: "))

CalcArea = lado**2
CalcPeri = lado*4

print("Perimetro ",CalcPeri,"Area",CalcArea)