<a href="https://colab.research.google.com/github/devbispo/curso-python/blob/main/trab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

base = pd.read_csv("cmc.csv",
  names =["Wife_age","Wife_education","Husband_education","children","Wife_religion","Wife_is_working","Husband_occupation","Standard_of_living_index", "Media_exposure","Contraceptive_method_used"])

In [ ]:
base.describe()

,Wife_age,Wife_education,Husband_education,children,Wife_religion,Wife_is_working,Husband_occupation,Standard_of_living_index,Media_exposure,Contraceptive_method_used
count,1473.000000,1473.000000,1473.000000,1473.000000,1473.000000,1473.000000,1473.000000,1473.000000,1473.000000,1473.000000
mean,32.538357,2.958588,3.429735,3.261371,0.850645,0.749491,2.137814,3.133741,0.073999,1.919891
std,8.227245,1.014994,0.816349,2.358549,0.356559,0.433453,0.864857,0.976161,0.261858,0.876376
min,16.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000
25%,26.000000,2.000000,3.000000,1.000000,1.000000,0.000000,1.000000,3.000000,0.000000,1.000000
50%,32.000000,3.000000,4.000000,3.000000,1.000000,1.000000,2.000000,3.000000,0.000000,2.000000
75%,39.000000,4.000000,4.000000,4.000000,1.000000,1.000000,3.000000,4.000000,0.000000,3.000000
max,49.000000,4.000000,4.000000,16.000000,1.000000,1.000000,4.000000,4.000000,1.000000,3.000000

In [ ]:
base.describe()
base.loc[base['Wife_age'] < 0]

Empty DataFrame
Columns: [Wife_age, Wife_education, Husband_education, children, Wife_religion, Wife_is_working, Husband_occupation, Standard_of_living_index, Media_exposure, Contraceptive_method_used]
Index: []

In [ ]:
base.describe()
base.loc[base['Wife_education'] < 0]

Empty DataFrame
Columns: [Wife_age, Wife_education, Husband_education, children, Wife_religion, Wife_is_working, Husband_occupation, Standard_of_living_index, Media_exposure, Contraceptive_method_used]
Index: []

In [ ]:
base.describe()
base.loc[base['children'] < 0]

Empty DataFrame
Columns: [Wife_age, Wife_education, Husband_education, children, Wife_religion, Wife_is_working, Husband_occupation, Standard_of_living_index, Media_exposure, Contraceptive_method_used]
Index: []

In [ ]:
base.mean()

Wife_age                     32.538357
Wife_education                2.958588
Husband_education             3.429735
children                      3.261371
Wife_religion                 0.850645
Wife_is_working               0.749491
Husband_occupation            2.137814
Standard_of_living_index      3.133741
Media_exposure                0.073999
Contraceptive_method_used     1.919891
dtype: float64

In [ ]:
  Erick Serednicki Pernambuco   
  Matrícula: 2114290001

  Filipe sousa da silva               
  Matrícula: 2114290002
  
  Wesley cardoso paixão             
  Matrícula: 2214290047
 
  Davi severo santana            
  Matrícula: 2214290037
  
  Felipe Bispo Sousa 
  Matrícula: 2114290020